{% load static %}
    <!-- Carousel
    ================================================== -->
     <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item" style="background-image: url('/static/images/photos/photo-3.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>DevFest announced</h1>
              <p>On Sept. 13th the BruGTUG announced DevFest Belgium 2013 to take place on November 16-17th.</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>-->
            </div>
          </div>
        <div class="item active" style="background-image: url('/static/images/photos/photo-0b.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>Register for the event!</h1>
              <p>Participation in the event is free. Do not miss the opening of registration on October 7th!</p>
              <p><button type="button" class="btn btn-large btn-primary" disabled="disabled">Sign Up</button></p>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('/static/images/photos/photo-1b.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>A weekend dedicated to developers</h1>
              <p>DevFest Belgium is for all coders, fans and enthusiasts.</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>-->
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('/static/images/photos/photo-2b.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mobile, Cloud, Web</h1>
              <p>Learn and create together with peers!</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="/static/images/carousel-nav-prev.png"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><img class="img-next" src="/static/images/carousel-nav-next.png"></a>
    </div><!-- /.carousel -->
