{% extends "base.html" %} 

{% load static %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}

<div class="container">
<div class="row featurette">
    <div class="col-md-5">
        <h2 class="featurette-heading">16-17 November, <br/>Brussels</h2>
        <p class="lead no_a_highlight">
            <a href="/location#location_1">ICAB Business &amp; Technology Incubator<br/> 
            4 rue des Pères Blancs, <br/>1040 Etterbeek, Brussels, Belgium</a>
        </p>
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">What?</h2>
        <p class="lead">
            <b style="font-weight: 500;">DevFest</b> The main goal - meeting for all developers interested in Google technologies to share experiences, mingle and learn. The program includes workshops, conference talks/labs and an open hack day.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/workshops.png" alt="Workshops">
        <h2>Workshops</h2>
        <p>
            <b style="font-weight: 600;">November 16th</b> Three 3-hour workshops will get you booted into respectively mobile, cloud or web development. The workshops are targeted at the uninitiated. 
            Bring a laptop. </p>
        <p>
            <a class="btn btn-default" href="/workshops">Details &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/conference.png" alt="Tech Talks">
        <h2>Tech Talks</h2>
        <p>
            <b style="font-weight: 600;">November 16th</b> For advanced developers, there will be tech talks and code labs with lots of possiblities to discuss current projects, trends and challenges.</p>
        <p>
            <a class="btn btn-default" href="/techtalks">Details &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/hackathon.png" alt="Open Hack Day">
        <h2>Open Hack Day</h2>
        <p>
            <b style="font-weight: 600;">November 17th</b> Use the creative space at ICAB Business &amp; Technology Incubator to work on open source projects or try out newly dicovered APIs and SDKs.</p>
        <p>
            <a class="btn btn-default" href="/openhackday">Details &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<hr class="featurette-divider">
</div>

{% include "blocks/partners.html" %} 

{% endblock %}
