{% extends "base.html" %}

{% load static %} 

{% block page_title %}Open Hack Day &middot; DevFest Belgium 2013{% endblock %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}
    <h1 id="speakers_header">Open Hack Day</h1>
    <div class="row">
        <div class="col-md-3">
            <img class="img-circle" src="/static/images/hackathon.png" alt="openhackday">
        </div>
        <div class="col-md-9">
            <p>
                <b style="font-weight: 600;">16/17 November</b>, Come together and use the inspirational atmosphere at Betacowork
                to create new games and apps with other developers! </p>
            <div class="alert alert-warning" style="margin-top: 50px;">
                <i>
                    <b>Note!</b> We plan to have the location open the whole night. To be confirmed!</i>
            </div>
            <div class="alert alert-warning" style="margin-top: 50px;">
                <i>
                    <b>Mentors,</b> if you like to encourage developers to explore new technologies, please get in touch with us.</i>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    
    {% include "blocks/partners.html" %} 
{% endblock %}
