{% extends "base.html" %}
{% load static %}

{% block page_title %}Registration &middot; DevFest Belgium 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    
    <h1 id="speakers_header">Registration</h1>


<p style="margin: 40px 0px">Participation in this event is absolutely free, but you need to register and bring your registration code.</p>
    
    <!--div class="alert alert-warning">
        <p></p>

    </div-->       

<iframe src="https://docs.google.com/forms/d/1z8mgQgQrVh73oRZYY_9l4izMRQZkANAhfr_KEYP5u_4/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


      <hr class="featurette-divider">
{% include "blocks/partners.html" %}

{% endblock %}